<!DOCTYPE html>
<html>
<head>
	
<!-- <style>
	.hd-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #34bccc;
}
.hd-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.hd-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
  justify-content: space-between;
}


</style> -->
<link rel ="stylesheet" type="text/css" href="../css/header.css" >
</head>
<body>

<p style="display:inline;"><h3 style="float: left;"> </h3></p>
    <div class="hd-legal" >   
        <ul class="hd-legal-list" style="justify-content: space-between;">
            <h3><li> <div><p style="text-align: left;">Doctor's Point</p><p>Our online Telemedicine Solutions to you</p></div> </li></h3>
            <li><i class="fas fa-mobile fa-2x"></i> 017894565655</li>
            <li><i class="fas fa-map-marker-alt fa-2x"></i> Gulshan 1, Dhaka-1210</li>
        </ul>
       
    </div>
    
</body>
</html>

