<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>LOGIN-FORM</title>
    <link rel ="stylesheet" type="text/css" href="../css/login_design.css">
</head>
<body>
 <form  action="../controller/login_action.php"  method="POST"> 
  <div>
    <div>
    <fieldset>
        <h3 class="heading">LOGIN FORM</h3>
        <div>
          <div>
           <label  for="username">USERNAME:</label>
        <input type="username" id="username" name="username" ><br><br>
    
        <label   for="password"> PASSWORD:</label>
        <input type="password" id="password" name="password" ><br><br>

       
       
            </input><br>


       <br> 
            </input><br>
      </fieldset> 
      <br>
    </form>  
      <input type="submit" value="LOGIN" name="login" class="button1">
      <br>
      Not Registered <a href="registration.html"> click here</a> for Registartion.
     <!--  <input type="submit" value="back" name="Confirm" class="button1"> -->
     
    
   
</body>
</html>