<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change-Password</title>
</head>
<body  style= "text-align:center;">
 <form  action=""  method="POST"> 
    <fieldset>
        <legend><h2>CHANGE PASSWORD </h2></legend>

        <label for="Password">CURRENT PASSWORD:</label><br>
        <input type="password" id="Password" name="Password" >
       
            </input><br>


       <br> <label for="Newpassword">NEW PASSWORD:</label><br>
        <input type="password" id="Newpassword" name="Newpassword" >
    
            </input><br>
      </fieldset> 
      <br>
      <input type="submit" value="Confirm" value="Confirm">
     
    </form>  
   <p>  <a href="Login(shopkeeper).html">Back</a></p> 
</body>
</html>