<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page of Registration Form</title>
</head>
<body style="text-align: center;"> 
    
   <form action="form-Validation.php" style="display: inline-block;" method="POST" name="fstep"><h1>Registration Form</h1>
        <fieldset>
            <legend>Basic Info's</legend>
             <label for="email:">Email:</label>
            <input type="email" name="email" id="email"><br><br>
            <label for="Usertype">User Type:</label>
            <input type="radio" name="Usertype" id="Admin" value="admin">
            <label for="Admin">Admin</label>
            <input type="radio" name="Usertype" id="Patients" value="patients">
            <label for="Patients">Patients</label>
            <input type="radio" name="Usertype" id="Doctors" value="doctors">
            <label for="Doctors">Doctors</label>
           <input type="radio" name="Usertype" id="ShopManager" value="Manager">
            <label for="ShopManager">Medicine Shop Manager</label>
        </fieldset>
        <br>
        <input type="submit" value="Next" name="next">
        <br><br>
    </form>
    <form action="Login(ShopKeeper).html">
        <p>Already have accounts?<input type="submit" value="Log in"></p>
    </form>
    
</body>
</html>