<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ShopKeeper Login</title>
</head>
<body style= "text-align:center;">

	<form action="../controller/LoginAction.php" method="POST" style="display: inline-block;">
		
		<fieldset>
			<legend><h1>LOGIN AS A SHOPKEEPER</h1></legend>
			 <h3><label for="username">USERNAME:</label><input type="text" name="username" id="username">
			</h3>
		<h3><label for="Password">PASSWORD:</label><input type="password" name="Password" id="Password"></h3>

		</fieldset>
		<br>
		<input type="submit" name="LOGIN" value="LOGIN">
		 <a href="change-password.html">Forgot Password?</a>

    </form>
    <br>
    <br>
    Not Registered<a href="ShopManager-form.html">click here</a> for Registartion.
   
</body>
</html>
 